<div class="container-fluid">
	<div class="hero-unit">
	    <h1>GalleryJS</h1>
	    <p>This is a sandbox project to test multiple technologies.</p>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Folders</li>
                    <li ng-repeat="folder in folders | filter:{isFolder:true}">
                        <a href="#/?path={{routeParams.path}}/{{folder.filename}}">{{folder.filename}}</a>
                    </li>
                </ul>
            </div>
		</div>
		<div class="span9">
			<p>Please, click on a folder to see the pictures.</p>
            <li ng-repeat="folder in folders | filter:{isFile:true}">
                <a href="#/?path={{routeParams.path}}/{{folder.filename}}">{{folder.filename}}</a>
            </li>
		</div>
	</div>

    <!-- Main hero unit for a primary marketing message or call to action -->
  
    <hr/>
  
    <footer>
        <p>&copy; Kevin Vicrey 2012</p>
    </footer>
  
</div> <!-- /container -->
