<div class="container-fluid">
	<div class="hero-unit">
	    <h1>GalleryJS</h1>
	    <p>This is a sandbox project to test multiple technologies.</p>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav" ng-include src="'scripts/modules/folders/views/folders.html'"></div>
		</div>
		<div class="span9">
			<p>Please, click on a folder to see the pictures.</p>
			<div ng-include src="'scripts/modules/files/views/files.html'"></div>
		</div>
	</div>

    <!-- Main hero unit for a primary marketing message or call to action -->
  
    <hr/>
  
    <footer>
        <p>&copy; Kevin Vicrey 2012</p>
    </footer>
  
</div> <!-- /container -->
